@import './myVariables';

.cartoncino-container {
    height: 90vh;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    span {
        display: inline-block;
    }

    .cartoncino {
        width: 50vw;
        height: 50vh;
    
        border-radius: 20px!important;
    
        background-color: $paper!important;
    
        text-align: center;
    }

    .cartoncino-content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;

        .card-title span {
            font-family: $handWrite-font;
            font-size: 5rem;
        }

        .card-text #anim-text-1 {
            font-family: $handWrite-font;
            font-size: 3rem;
        }
    }


}



