@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

// MY CUSTOM VARIABLES

// COLORS
// $olive-green: #94988a;
$olive-green: #82a588;
$dark-olive-green: #2f3d29;
$paper: #e4e4e4af;

// FONTS
$handWrite-font: 'Great Vibes', cursive;
$normal-font: 'Baskervville', serif;